/* for tablet media queries */
@media only screen and (max-width: 1000px) {
  .join {
    display: block;
  }
  .cta {
    display: none;
  }
}

/* for mobile media queries */

@media only screen and (max-width: 800px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    gap: 10px;
  }
  header {
    height: 48px;
  }

  .mobile img {
    height: 30px;
  }
}

@media only screen and (max-width: 1320px) {
  .cta {
    top: 100px;
  }
}
