/* for tablet media queries */
@media only screen and (max-width: 1000px) {
  .join {
    display: block;
  }
  .cta {
    display: none;
  }
  .cta2 {
    display: block;
  }
}

/* for mobile media queries */

@media only screen and (max-width: 800px) {
  .desktop {
    display: none;
  }
  main {
    top: 48px;
  }
  .container {
    top: 48px;
  }
  .mobile {
    display: flex;
    gap: 10px;
  }
  header {
    height: 48px;
  }

  .mobile img {
    height: 30px;
  }
  .cta2 h2 {
    font-size: 1.5rem;
  }

  .cta2 h1 {
    font-size: 2.5rem;
  }
  .feature {
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
  }

  .testimonial {
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
  }
  .filter .images {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  .remove {
    display: none;
  }
}

@media only screen and (max-width: 1320px) {
  .cta {
    top: 100px;
  }
}
